$light: hsl(333, 70%, 92%)
$med: hsl(333, 75%, 86%)
$bit: 1em

.App 
    max-width: 1000px
    margin: 0 auto
    padding: $bit


.flex 
    display: flex

.rounded
    background: $light
    outline: 0.1em solid $med
    border-radius: 0.5em

header
    @extend .flex
    justify-content: space-evenly
    gap: $bit

    ul
        flex: 0 1 1
        padding-inline: 0
        padding: $bit
        list-style-position: inside
    
    h2 
        flex: 0 1 1
        text-align: center
        align-self: center
        padding: calc($bit/4) calc($bit/2)
        border-bottom: 0.5em solid $med

div.scores
    @extend .flex
    justify-content: space-around
    gap: $bit

    div
        flex: 0 1 1
        padding-inline: $bit

p.copyright
    text-align: center
    padding-top: $bit

header>ul,
div.scores>div
    @extend .rounded